{%load pglister%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{%if title%}{{title}} - {%endif%}{{organization_info.name}} mailing lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
    <link href="/media/css/pglister.css" rel="stylesheet" media="screen"></link>
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="row">
	<div class="col-sm-12" id="pglisterhdr">
	  <a href="/"><img src="/media/img/{{organization_info.banner_left}}" alt="{{organization_info.name}}" /></a>
	  <img class="pull-right hidden-xs" src="/media/img/{{organization_info.banner_right}}" alt="{{organization_info.motto}}" />
          {%for l in organization_info.links%}
          <a href="{{ l.href }}" class='btn btn-lg btn-primary'>{{ l.name }}</a>
          {%endfor%}
	</div>
      </div>
{%if messages%}
      <div class="row">
 {%for m in messages%}
  <br /><div class="alert {{m.tags|alertmap}}">{{m}}</div>
 {%endfor%}
      </div>
{%endif%}
      <div class="row">
      {%block content%}{%endblock%}
      </div>
    </div>
  </body>
</html>
