{%extends "base.html"%}
{%load pglister%}
{%block extrahead%}
<script src="/media/js/jquery-1.12.4.min.js"></script>
{%endblock%}

{%block content%}
<h1>Manage thread blocking</h1>

<div class="container ltable">
{%for m in object_list%}
{%if forloop.first%}
<div class="row header hidden-xs">
  <div class="col-md-8">Message-id</div>
  <div class="col-md-3">Added at</div>
  <div class="col-md-1">Remove?</div>
</div>
{%endif%}
<div class="row">
  <div class="col-md-8">{{m.messageid}}</div>
  <div class="col-md-3">{{m.addedat}}</div>
  <div class="col-md-1"><form method="post" action=".">{%csrf_token%}
      <input type="hidden" name="delid" value="{{m.id}}">
      <input class="btn btn-sm btn-default" type="submit" name="submit" value="Remove">
    </form>
  </div>
</div>
{%endfor%}
</div>

{%if is_paginated%}
<ul class="pagination pagination-sm">
{%if not page_obj.has_previous%}<li class="disabled"><span>&laquo;</span></li>{%else%}<li><a href="?page={{page_obj.previous_page_number}}">&laquo;</a></li>{%endif%}
{%for p in page_obj.paginator.page_range %}
{%if page_obj.number == p%}<li class="active"><span>{{p}}</span></li>{%else%}<li><a href="?page={{p}}">{{p}}</a></li>{%endif%}
{%endfor%}
{%if not page_obj.has_next%}<li class="disabled"><span>&raquo;</span></li>{%else%}<li><a href="?page={{page_obj.next_page_number}}">&raquo;</a></li>{%endif%}
</ul>
{%endif%}

<h3>Add to blocklist</h3>
<form method="post" action=".">{%csrf_token%}
{%if has_archivesapi%}
  <label for="msgid">Select recent thread</label>
  <select name="msgid" id="msgid" class="form-control">
   <option value=""></option>
{%for m in view.archives_messageid_list%}
   <option value="{{m.msgid}}">{{m.subj}} from {{m.from}} ({{m.date}})</option>
{%endfor%}
  </select>
{%endif%}
  <label for="messageid">{%if has_archivesapi%}Or type {%endif%}message-id</label><input type="text" class="form-control" name="messageid" id="messageid">
  <input type="submit" name="submit" class="btn btn-sm btn-default" value="Add to blocklist">
</form>

<p></p>
<a class="btn btn-default" href="../../?global=1">Return to main page</a>

{%if has_archivesapi%}
<script>
  $(function() {
    $('#msgid').change(function() {
       $('#messageid').val(this.value);
    });
});
</script>
{%endif%}

{%endblock%}
