{%extends "base.html"%}
{%load pglister%}
{%block content%}
<h1>Manage subscribers</h1>
<h2>{{list}}</h2>
<br/>

<div class="container ltable">
{%for s in object_list%}
{%if forloop.first%}
<div class="row header hidden-xs">
  <div class="col-md-5">Address</div>
{%if list.tagged_delivery%}
  <div class="col-md-2">Tags</div>
{%endif%}
  <div class="col-md-2">Unsubscribe?</div>
  <div class="col-md-2">Bounces?</div>
</div>
{%endif%}
<div class="row">
  <div class="col-md-5">{{s.subscriber}}</div>
{%if list.tagged_delivery%}
  <div class="col-md-2">{%if s.tags.all%}{{s.tags.all|join:", "}}{%else%}All mail{%endif%}</div>
{%endif%}
  <div class="col-md-2">
    <form method="post" action="unsub/">{%csrf_token%}
      <input type="hidden" name="sid" value="{{s.id}}">
      <input class="btn btn-sm btn-default" type="submit" value="Unsubscribe">
    </form>
  </div>
  <div class="col-md-2">
	  <a href="../../../bounces/{{s.list_id}}-{{s.subscriber_id}}">Bounces</a>
  </div>
</div>
{%endfor%}
</div>

{%if is_paginated%}
<ul class="pagination pagination-sm">
{%if not page_obj.has_previous%}<li class="disabled"><span>&laquo;</span></li>{%else%}<li><a href="{{baseurl}}page={{page_obj.previous_page_number}}">&laquo;</a></li>{%endif%}
{%for p in page_obj.paginator.page_range %}
{%if page_obj.number == p%}<li class="active"><span>{{p}}</span></li>{%else%}<li><a href="{{baseurl}}page={{p}}">{{p}}</a></li>{%endif%}
{%endfor%}
{%if not page_obj.has_next%}<li class="disabled"><span>&raquo;</span></li>{%else%}<li><a href="{{baseurl}}page={{page_obj.next_page_number}}">&raquo;</a></li>{%endif%}
</ul>

{%endif%}

<p></p>
<a class="btn btn-default" href="../">Return to overview</a>

{%endblock%}
