{%extends "base.html"%}
{%load pglister%}
{%block content%}
<h1>{{organization_info.name}} mailing lists</h1>
<h2>Unsubscribe</h2>
{%if not done%}
<p>
 Are you sure you want to unsubscribe the address
 <i>{{subaddr.email}}</i> from the list {{list}}?
</p>
<form method="post" action=".">{%csrf_token%}
 <input type="submit" class="btn btn-default" value="Unsubscribe">
</form>
{%else%}
<p>
 A confirmation email has been sent to
 <i>{{subaddr.email}}</i>. Please click the link in this email
 to complete the unsubscription process.
</p>
{%endif%}
{%endblock%}
